(
    "DayDiplomacy_Engine.js",
    "DayDiplomacy_EngineAPI.js",
    "DayDiplomacy_Systems.js",
    "DayDiplomacy_EconomyEngine.js",
    "DayDiplomacy_EconomyEngineAPI.js",
    "DayDiplomacy_WarEngine.js",
    "DayDiplomacy_WarEngineAPI.js",
    "DayDiplomacy_War.js",
    "DayDiplomacy_History.js",
    "DayDiplomacy_HistoryAPI.js",
    "DayDiplomacy_Citizenships.js"
)