{
	"identifier" = "oolite.oxp.Day.Diplomacy";
	"required_oolite_version" = "1.81";
	"title" = "Diplomacy";
	"version" = "0.7";
	"category" = "Ambience";
	"description" = "WORK IN PROGRESS: this OXP currently provides a F4 map showing which systems (dis)like each other. On F7, it indicates systems' treasury and tax level. Finally, it provides an API for oxp developers to build galaxy-spanning events and reactions.";
	"author" = "Day";
	"information_url" = "http://wiki.alioth.net/index.php/Diplomacy";
	"license" = "CC BY-NC-SA 4";
}