{
	"identifier" = "oolite.oxp.Day.Diplomacy";
	"required_oolite_version" = "1.81";
	"title" = "Diplomacy";
	"version" = "0.10";
	"category" = "Ambience";
	"description" = "WORK IN PROGRESS: this OXP currently provides a F4 map showing which systems (dis)like each other. Snooper news appear when 2 systems form or break an alliance. A F4 interface displays the F7 system history events. On F7, it indicates systems' treasury and tax level. Finally, it provides an API for oxp developers to build galaxy-spanning events and reactions.";
	"author" = "Day";
	"information_url" = "http://wiki.alioth.net/index.php/Diplomacy";
	"license" = "CC BY-NC-SA 4";
	"requires_oxps" = (
    	{
    		"identifier" = "oolite.oxp.Svengali.Snoopers";
    		"description" = "Adds the galactic news network channels.";
    	}
    );
}