{
	"identifier" = "oolite.oxp.Day.DiplomacyDebugger";
	"required_oolite_version" = "1.81";
	"title" = "Diplomacy Debugger";
	"version" = "0.2";
	"category" = "Ambience";
	"description" = "For devs: used to debug the Diplomacy OXP";
	"author" = "Day";
	"information_url" = "http://wiki.alioth.net/index.php/DiplomacyDebugger";
	"license" = "CC BY-NC-SA 4";
	"requires_oxps" = (
    	{
    		"identifier" = "oolite.oxp.Day.Diplomacy";
    		"description" = "Diplomacy OXP: Wars! History happening!";
    		"version" = "0";
    	}
    );
}